@model LibraryApplication.DataAccessLayer.DTO.AddBookImage

@{
    ViewData["Title"] = "AddBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-block:40px;height:400px;">
    <div class="row">
        <div class="col-md-4">
            <form class="form-group" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label class="control-label">Kitap Adı</label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label">Yazarı</label>
                    <input asp-for="Author" class="form-control" />
                    <span asp-validation-for="Author" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <label class="control-label">Kitap Fotoğrafı</label>
                    <br />
                    <input type="file" name="ImageUrl" />

                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Ekle" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
</div>